.q01 a {
  color: #000;
  text-decoration: none;
}

.q02 span:hover {
  opacity: 0.5;
  cursor: pointer;
}

.q03 .block__cat {
  width: 300px;
  height: 300px;
  border: 1px solid;
  background: red;
  box-shadow: 10px 10px 15px -10px;
}

.q04 p {
  border-bottom: #0e6edf dotted 2px;
  padding-bottom: 8px;
  display: inline-block;
}

.q05 textarea,
input::placeholder {
  color: red;
}

.q06 {
  background-color: blue;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.q06 p {
  color: #fff;
}

.q07 {
  .cat-red {
    color: red;
  }

  #catBlue {
    color: blue;
  }

  input::placeholder {
    color: green;
  }

  div[data-text] {
    color: pink;
  }

  li {
    &:first-child {
      color: red;
    }

    &:nth-child(5) {
      color: green;
    }

    &:last-child {
      color: blue;
    }
  }
}

.q08 {
  .before-cat::before {
    content: "▼";
  }

  @mixin sen {
    display: inline-block;
    width: 40px;
    height: 2px;
    vertical-align: middle;
    background-color: #000;
    content: "";
  }
  h3 {
    &::before {
      @include sen;
      margin-right: 8px;
    }
    &::after {
      @include sen;
      margin-left: 8px;
    }
  }
}

.q09 {
  dt {
    float: left;
  }
  dd {
    width: 400px;
    margin: 0 0 16px 100px;
    border-bottom: 1px dotted;
  }
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
    &::before {
      content: "■";
    }
  }
}

.q10 {
  .text-wrap {
    width: 300px;
    border: 1px solid;
    padding: 12px;
    p {
      text-indent: -1em;
      padding-left: 1em;
      word-break: break-all;
    }
  }
}

.q11 {
  input {
    font-weight: bold;
    &::placeholder {
      font-weight: normal;
      color: grey;
    }
  }
}